<%= form_for [@user, @photo], html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Upload Image" %><br>
    <%= f.file_field :url %>
    <% if f.object.url? %>
      <%= image_tag f.object.url.url, :class => "full-img" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
