<%= form_for [@user, @photo], html: { multipart: true } do |f| %>
  <div class="field">
    <p><%= f.label "Photo Title" %></p>
    <%= f.text_field :title, size: "100" %>
  </div>
  <div class="field">
    <% if f.object.url? %>
      <p><%= f.label "Replace Image" %></p>
    <% else %>
      <p><%= f.label "Add Photo" %></p>
    <% end %>
    <%= f.file_field :url %>

    <div class="actions">
      <p><%= f.submit %></p>
    </div>

    <% if f.object.url? %>
      <%= image_tag f.object.url.url, :class => "full-img" %>
    <% end %>
  </div>

<% end %>
