<div class="full-title">
<h3><%= @photo.title %></h3> by <%= link_to @user.username, @user %>
</div>
<%= image_tag @photo.url, :class => "full-img" %>
<% if @photo.user == current_user %>
<p><%= link_to "Edit Photo", edit_user_photo_path(@user) %> | <%= link_to "Delete Photo", user_photo_path(@user, @photo), method: :delete, data: {confirm: "Are you sure you want to delete this photo?"} %> </p>
<% end %>
